# Import libraries

In [1]:
import pandas as pd
import numpy as np
import joblib
from sklearn.metrics import mean_absolute_error, mean_squared_error

MODEL_PATH = "model/elasticnet_model.joblib"
TARGET = "SalePrice"

# Load test files

In [2]:
TEST_CSV_PATH = "files/test.csv"
TARGET_CSV_PATH = "files/target.csv"

df_test = pd.read_csv(TEST_CSV_PATH)
df_target = pd.read_csv(TARGET_CSV_PATH)

if TARGET in df_target.columns and len(df_target.columns) == 1:
  df_target = df_target.rename(columns={df_target.columns[0]: TARGET})

assert len(df_test) == len(df_target), "Test.csv and target.csv must have same number of rows."
assert TARGET in df_target.columns, f"Target columns was not found on target.csv"

df_eval = df_test.copy()
df_eval[TARGET] = df_target[TARGET]
df_eval.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,2127,907135180,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,123600
1,193,903206120,75,RL,NaN,7793,Pave,NaN,IR1,Bnk,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,209500
2,2407,528181040,120,RL,40.0,6792,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,3,2006,New,Partial,202665
3,46,528175010,120,RL,44.0,6371,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,New,Partial,224000
4,2478,531379030,60,RL,70.0,8304,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,7,2006,WD,Normal,187000

# Evaluate loaded model

In [3]:
model = joblib.load(MODEL_PATH)

y_true = df_eval[TARGET].values
X_eval = df_eval.drop(columns=[TARGET])

y_pred = model.predict(X_eval)

mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

# Save results
pd.DataFrame({"y_true": y_true, "y_pred": y_pred}).to_csv("model/eval_predictions.csv", index=False)

Mean Absolute Error (MAE): 13972.050008202688
Mean Squared Error (MSE): 488571721.0084633
Root Mean Squared Error (RMSE): 22103.658543518613